{% extends 'base.html' %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ name }} - Portofolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    {% block content %}
    <main>
      <section class="exp" id="experience">
        <div class="container">
          <h2 class="section-title">Experience</h2>
          <div class="exp-grid grid-layout">
            {% for exp in experience_list %}
            <article class="base-card">
              <div class="card-image-wrapper">
                {% if exp.image_url %}
                <img
                  src="{{ exp.image_url }}"
                  alt="{{ exp.organization }} experience image"
                  class="card-cover"
                />
                {% endif %}
              </div>
              <div class="card-content">
                <div class="card-header">
                  <h3>{{ exp.title }}</h3>
                  <span class="card-badge">{{ exp.formatted_year }}</span>
                </div>
                <p class="card-organization">{{ exp.organization }}</p>
                <p class="card-desc">{{ exp.description }}</p>
              </div>
            </article>
            {% empty %}
            <p>Belum ada data pengalaman.</p>
            {% endfor %}
          </div>
        </div>
      </section>
    </main>
    {% endblock content %}
  </body>
</html>
